.singup{
    width: 100%;
    max-width: 100%;
    background: rgb(0,223,162);
    padding: 200px;
    display: flex;
    justify-content: center;
}

.container{
    background-color: #fff;
    box-shadow: o 2px 5px;
    border-radius: 10px;
    width: 60%;
    max-width: 100%;
    overflow: hidden;
}

.cont{
    background-color: #eee;
    padding: 20px;
}

.formsingup{
padding: 20px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;

}

.form-control i{
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}


.form-control.success input {
    border-color: #2ecc71;
  }
  
  .form-control.error input {
    border-color: #e74c3c;
  }
  
  .form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
  }
  
  .form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
  }
  
  .form-control.error small {
    visibility: visible;
    color: #e74c3c;
  }

  .formsingup button {
    background: rgb(0,223,162);
    border: 0;
    color: #fff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
  }

  .formsingup p {
    padding: 4px;
    text-align: end;
    font-size: 12px;
    color: #333;
    margin-top: 10px;

}

.formsingup p:hover {
    color: #0056b3; 
}