main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    justify-content: center;
 
}

html{
    scroll-behavior: smooth;
}

.sobre {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.sobre-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 100%;
}


.text {
    display: flex;
    flex-direction: column;
    width: 60%;
}


.hero {
    display: flex;
    width: 100%;
    justify-content: end;
    max-width: 50%;
    
}

.hero img {
    width: 95%;
    height: fit-content;
    
}

.sobre h1 {
    color: #000;
    
    font-size: 86px;
    max-width: 430px;
    font-family: 'baloo 2';
    font-weight: 700;
}

.sobre p {
    color: #84878D;
    margin-bottom: 16px;
}

h1 span {
    color:rgb(255,0,96);
    font-size: 86px;
}
h2{
    color: #000;
    font-size: 48px;
    line-height: 1.2;
}

p{
    margin-top: 10px;
}

.sobre button{
    border: none;
    padding: 20px 0;
    background:  rgb(255,0,96);
    border-radius: 60px;
    font-size: 18px;
    color:#ffffff;
    font-weight: 600;
    max-width: 80%;
    cursor:pointer;
    margin-top: 20px;
   
   
}

.sobre button a {
    color: #fff;
}

.sobre button:hover {
    background: linear-gradient(45deg, #ff0060, #ff66a3);
}

.all {
    display: flex;
    flex-direction: column;
}


@media (max-width: 768px) {
    .text {
        margin: 2vh 0;
        align-items: center;
    }

    .sobre-info {
        gap: 20px;
    }

    .sobre h1 {
        font-size: 28px;
    }

    .hero img {
        width: 80%;
    }
}

@media (max-width: 480px) {
    main {
        padding: 24px 0;
    }

    .text {
       
        margin: 1vh 0;
        align-items: center;
        padding: 0 10px;
    }

    .sobre h1 {
        font-size: 24px;
    }

    .sobre p {
        text-align: center;
        padding: 0 10px;
    }

}

   .img2{
    width: 30px 20px;
   } 