.services{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
  
}

.all-services {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

}

.serv_icon{
    
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: center;
}

.serv_icon img{
    width: 50px;
  
}

.s1, .s2, .s3, .s4 {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background: rgb(255,0,96);
    background: linear-gradient(180deg, rgba(255,0,96,1) 69%, rgba(255,218,232,1) 100%);
    width: 200px; 
    height: 200px;
    border-radius: 10%;
    box-shadow: 1px 1px 10px 1px;
    cursor: pointer;
    transition: ease 0.6+s;
}
.s1:hover, .s2:hover, .s3:hover, .s4:hover {
    transform: scale(1.1);
}


.catimg{
    display: flex;
    width: 100%;
    justify-content: end;
    ;
}

.catimg img{
    width: 40%;
    height: fit-content;

}